body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #A5A97A;
}

.quem-somos{
    background-color: #77786E;
    color: white;
}

.margin{
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros{
    background-color: #EBEECC;
    color: #717171;
}

.bg-footer{
    background-color: black;
    color: white;
    
}